@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,100&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
body {
	background: #000;
}

.container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}
.container h2 {
	/* position: relative; */
	font-size: 8rem;
	color: transparent;
}

.container h2 span {
	animation: animate 4s linear infinite;
	animation-delay: calc(0.1s * var(--i));
}

.container span:nth-child(5) {
	margin-left: 20px;
}

@keyframes animate {
	0% {
		color: white;
		filter: blur(0px) hue-rotate(0deg);
		text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
			0 0 80px #00b3ff, 0 0 160px #00b3ff, 0 0 320px #00b3ff;
	}
	30%,
	70% {
		color: white;
		filter: blur(0px) hue-rotate(360deg);
		text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
			0 0 80px #00b3ff, 0 0 160px #00b3ff, 0 0 320px #00b3ff;
	}

	100% {
		color: transparent;
		text-shadow: none;
	}
}
